@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Raleway&family=Roboto&family=Roboto+Mono:ital@1&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Lato', sans-serif;

}

html {
    scroll-padding-top: 230px;
}


.col-lg-text-start {
    text-align: left !important
}

.col-lg-d-block {
    display: block !important;

}

.col-sm-d-block {
    display: none !important;
}




a {
    text-decoration: none;
}





.logo {
    width: 200px;
}

.navbar-brand {
    display: none !important;
}

.menutop {
    display: flex;
    color: #fff;
    align-items: end;
    justify-content: end;
}

.menutop .helpline {
    padding-right: 20px;
}


.fa-phone {
    font-size: 18px;
    border: 1px solid #58bceb;
    border-radius: 20px;
    padding: 7px;
    margin-left: 6px;
    color: #58bceb;
}

.menutop .fa-envelope {
    font-size: 18px;
    border: 1px solid #58bceb;
    border-radius: 20px;
    padding: 7px;
    margin-left: 6px;
    color: #58bceb;
}

.fa-instagram {
    font-size: 23px;
    border-radius: 30px;
    padding: 5px;
    color: linear-gradient(220deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
}



.fa-facebook {
    font-size: 23px;
    border-radius: 30px;
    padding: 5px;
    color: #1877F2;
}


.fa-x-twitter {
    font-size: 23px;
    border-radius: 30px;
    padding: 5px;
    color: #fff;
}


.navbar {
    margin-top: 5px;
}


.header {
    backdrop-filter: blur(0px) saturate(183%);
    -webkit-backdrop-filter: blur(0px) saturate(183%);
    background-color: rgba(0, 0, 0, 0.79);
    width: 100%;
    position: relative;
    z-index: 1999;
}


.nav-brand{
    position: absolute;
    width: 330px;
}
.nav-brand img {
    background-color: #DDDDDD;
    width: 300px;
    padding: 20px 10px;
}



.main_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 0px 0px;
}



/* Animation */

.navbar-nav .nav-link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #0396cc;
    text-align: center;
    z-index: -1;
    transition: transform .3s ease;
    color: black;
}



.dropdown-item {
    transition: 0.4s;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}

.dropdown-item:hover {
    padding: 2px 5px;
}



.navbar-nav .nav-link {
    position: relative;
}




/* Animation */




.navbar-nav:hover> :not(:hover) {
    opacity: 0.4;
}

.navbar-nav .dropdown-menu:hover> :not(:hover) {
    opacity: 0.4;
}

.navbar-nav  .dropdown-item:hover{
    background-color: #1875bb;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    padding-right: 1rem !important;
    font-size: 17px;
}

.container-fluid {
    padding-right: 0px;
}

.dropdown-menu .navbar-nav .nav-link {
    padding-right: 1rem !important;
    font-size: 18px;
}

.dropdown li:nth-child(-n + 5):after {
    display: none !important;
}



.navbar-nav li:nth-child(-n + 5):after {
    content: "";
    border-right: 2px solid #0396cc;
    display: block;
    width: 100%;
    height: 18px;
    margin-top: -30px;
}

.bs-example {
    margin: auto;
    width: 25%;
}

@media screen {

    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin: auto;
    }

    .dropdown-toggle {
        margin: auto;
    }

    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
        margin: auto;
    }
}


.banner {
    overflow: hidden;
    position: relative;
    margin-top: -112px;
    z-index: 1;
}

/* default item styles  */
.carousel-inner>.carousel-item {
    transform: scale(1);
    transition: transform 10s linear;
    /* transition: opacity 4s linear, transform 10s linear; */
}

/* active item styles  */
.carousel-inner>.carousel-item.active {
    opacity: 1;
    transform: scale(1.2);
}

.banner .carousel-inner img {
    height: 100vh;
}

.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}


.banner .bannertext h2 {
    font-size: 40px;
    color: #2caae2;
}

.banner .bannertext h1 {
    color: #2caae2;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 70px;
    line-height: 35px;
}

.banner .bannertext {
    margin-top: -300px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.banner2 {
    background-color: #161616;
    padding: 50px 0px;
    overflow: hidden;
}

.banner2 .whoweare h4 {
    color: #0396cc;
    text-transform: uppercase;
}

.banner2 .banner2images {
    display: flex;
    align-items: center;
}

.banner2 img {
    width: 100%;
    margin-bottom: 10px;

}

.button {
    background-color: #57bbe9;
    color: #000;
    padding: 10px 45px;
    border-radius: 50px 50px 50px 50px
}

.button:hover {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.banner3 {
    background-image: url(../images/img12.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 50px;
    overflow: hidden;
}

.banner3 .banner3what {
    padding: 40px;
    background-color: #000000;
    color: #fff;
}

.banner3 .banner3what h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.banner3 .banner3what ul {
    list-style: url(../images/liststyle1.png);
}

.banner3 .banner3what ul li {
    padding-bottom: 10px;
}

.banner4 {
    padding: 50px 0px;
    background-color: #000000;
}

.banner4 .banner4smart h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    opacity: 0.1;
    letter-spacing: 5px;
}

.banner4 .banner4smart {
    margin-bottom: 30px;
}

.banner4 .banner4smart h4 {
    color: #fff;
    font-weight: bold;
    margin-top: -45px;
    font-size: 40px;
}

.banner4solution {
    position: relative;

}

.banner4solution img {
    width: 100%;
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-transform: uppercase;
    transition: .5s ease;
    backdrop-filter: blur(20px) saturate(159%);
    -webkit-backdrop-filter: blur(20px) saturate(159%);
    background-color: rgba(0, 0, 0, 0.60);
}

.banner4solution:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay span {
    font-size: 13px;
}

.banner5 {
    background-color: #000000;
    padding: 50px 0px;
}

.banner3 .banner5design {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 10px;
    /* height: 163px; */
}

.banner3 .banner5design img{
    width:40px ;
}
.banner3 .banner5design h5 {
    color: #57bbe9;
    text-transform: uppercase;
    font-weight: bold;
}

.banner5 .sec-title {
    margin-bottom: 50px;
}

.banner6 {
    padding: 50px 0px;
    background-color: #161616;
    overflow: hidden;
}

.footer {
    padding: 50px 0px;
    background-color: #000000;
    color: #fff;
}

.footer .usefullinks ul {
    list-style: none;
}

.footer .usefullinks ul a {
    color: #fff;
}

.footer .usefullinks h4 {
    color: #57bbe9;
    font-weight: 800;
    text-transform: uppercase;
}

.footer .location {
    color: #fff;
}

.footer .location h4 {
    color: #57bbe9;
    font-weight: 800;
}

.whatsapp {
    width: 35px;
    margin-top: -10px;
}

.footer .footericons {
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: #1875bb;
    padding: 15px;
}

.whobanner {
    overflow: hidden;
    position: relative;
    margin-top: -116px;
    z-index: -1;
}

.whobanner .bannerwhotext {
    margin-top: -150px;
    color: #fff;
}


.whobanner2 {
    overflow: hidden;
    padding: 50px 0px;
}

.whobannerComfort {
    display: flex;
}


.whobanner3 {
    padding: 20px 0px 50px;
    overflow: hidden;
}

.whobanner3 .whobanner3mission {
    background-image: url(../images/whoweare/img2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: #fff;
    height: 350px;
    padding: 0px 105px;
}

.whobanner3vision {
    background-color: #5bc6e2;
    height: 350px;
    padding: 0px 105px;
    color: #000;
}

.whobanner4 {
    padding: 50px 0px;
}

.whobanner4 .sec-title {
    margin-bottom: 40px;
}



.whobanner4 .whobanner4text {
    background-color: #e1e2e3;
    padding: 30px;
    margin-bottom: 10px;
    color: #000;
    height: 142px;
    display: flex;
    align-items: center;
}

.whobanner4 p {
    margin-bottom: 0px;
}

.whobanner4 p strong {
    text-transform: uppercase;
    color: #2caae2;
}

.eisbanner {
    overflow: hidden;
    padding: 50px 0px;
}

.eisbanner .eisbannertext {
    display: flex;
}

.eisbanner .eisbanneriso {
    background-image: url(../images/eisgroup/img2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.eisbanneriso {
    display: flex;
    align-items: end;
}

.teambanner {
    padding: 50px 0px;
}

.teambanner .teambannermember {
    background-color: #5bc6e2;
    width: 35%;
    height: 100px;
    display: flex;
    align-items: end;
}

/* .teambanner .teambannerteam p{
    padding-left: 45%;
} */

.teambanner .teambannerteam {
    display: flex;
}

.teambanner .teambannermember h3 {
    padding-left: 45%;
    /* padding-top: 33%; */
    text-wrap: nowrap;
}

.teambanner .teambannerteam .teambannerteamside1 {
    width: 70%;
}

.teambanner .teambannerteam p {
    padding-left: 16%;
    padding-top: 20px;
}

/* SMART HOME DESIGN& SERVICES */

.homedesignbanner {
    padding: 50px 0px;
}

.homedesignbanner .homedesignbannerPackages {
    display: flex;
    justify-content: space-between;
}

.homedesignbanner2 {
    padding-top: 50px;
    background-color: #000000;
    height: 500px;
}

.homedesignbanner2 .sec-title {
    margin-bottom: 50px;
}

.homedesignbanner2 .homedesignbanner2buildservices {
    background-color: #fff;
    padding: 25px;
}

.homedesignbanner2 .homedesignbanner2buildservices h5 {
    color: black;
    font-weight: bold;
}


.homedesignbanner3 {
    margin-top: 400px;
    padding-bottom: 50px;
}

.homedesignbanner4 {
    padding: 50px 0px;
    background-image: url(../images/SmartHomeDesign/img6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.homedesignbanner4 .homedesignbanner4simple {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;

}

.homedesignbanner5 {
    overflow: hidden;
}


.homeautomationbanner {
    padding: 50px 0px;
}


.homeautomationbanner2 {
    padding-top: 50px;
    background-color: #000000;
    /* overflow: hidden; */
    height: 600px;
}

.homeautomationbanner2 .sec-title {
    margin-bottom: 50px;
}

.homeautomationbanner3 {
    overflow: hidden;
    margin-top: -300px;
    margin-bottom: 50px;
}

.homeautomationbanner3 .homeautomationbanner2simplify {
    background-color: #5bc6e2;
    padding: 25px;
    height: 720px;
}

.homeautomationbanner3 .homeautomationbanner2simplify2 {
    background-color: #95e4f9;
    padding: 25px;
    height: 720px;
}

/* SMART LIGHT */

.smartlightbanner {
    overflow: hidden;
    padding: 50px 0px;
}

.smartlightbanner .smartlightbannersmartlightfeeling {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smartlightbanner .smartlightbannersmartlightfeeling p {
    /* width: 260px; */
}

.smartlightbanner .smartlightbannersmartlightfeeling img {
    width: 90%;
}

.smartlightbanner .sec_title {
    text-align: end;
    margin-bottom: 50px;
}

.smartlightbanner2 {
    overflow: hidden;
}

.smartlightbanner2 .sec_title {
    text-align: center;
    margin-bottom: 50px;
}

.smartlightbanner2 .smartlightbanner2lighting {
    background-color: #e1e2e3;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.smartlightbanner2 .smartlightbanner2lighting p {
    padding: 25px;
}


.smartlightbanner2 .smartlightbanner2control {
    height: 500px;
}

.smartlightbanner2 img {
    width: 630px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.smartlightbanner3 {
    padding-bottom: 30px;
}

.smartlightbanner4 {
    padding-bottom: 50px;
}

.smartlightbanner4 .smartlightbanner4layers {
    background-color: #95e4f9;
    padding: 25px;
}

.smartlightbanner5 ul {
    list-style: url(../images/liststyle3.png);
}

.smartlightbanner5 ul li {
    padding-bottom: 10px;
}

/* HUMAN-CENTRIC */





.humanbanner {
    padding: 50px 0px;
}

.humanbanner2 .humanbanner2foundational {
    padding: 25px 25px 9px;
    position: relative;
    z-index: 1;
    margin-top: -200px;
    width: 500px;
    background-color: #fff;
}

.humanbanner3 {
    padding: 50px 0px;
}

.humanbanner3 .humanbanner3characterize {
    background-color: #95e4f9;
    padding: 25px;
}

/* MOTORIZE CURTAINS */
.motorizedbanner {
    padding: 50px 0px;
}

.motorizedbanner ul {
    list-style: url(../images/liststyle4.png);
}

.motorizedbanner ul li {
    padding-bottom: 20px;
}

.motorizedbanner img {
    width: 80%;
    padding-bottom: 30px;
}

.motorizedbanner2 {
    padding-bottom: 50px;
}


.motorizedbanner2 img {
    padding-bottom: 30px;
}


.motorizedbanner2 .card1 {
    background-color: #5bc6e2;
    padding: 20px;
    margin-bottom: 10px;

}

.motorizedbanner2 .card2 {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}



/* MULTI MEDIA BANNER */

.multimediamediabanner {
    padding: 50px 0px;
    overflow: hidden;
}

.multimediamediabanner .sec_title {
    margin-bottom: 50px;
}



.multimediamediabanner3 {
    padding: 50px 0px;
}


.multimediamediabanner3 .multimediamediabanner3easy {
    background-color: #5bc6e2;
    padding: 100px;
    position: relative;
    z-index: -1;
}

.multimediamediabanner3 img {
    margin-top: 100px;
}

.multimediamediabanner4 .multithings {
    background-color: #5bc6e2;
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 80px;
    font-weight: bold;
}


.multimediamediabanner5 {
    padding: 50px 0px;
}

.multimediamediabanner5 p {
    padding: 25px;
    margin-bottom: 10px;
    border: 1px solid #000;

}

.theatrebanner {
    padding: 50px 0px;
}


.theatrebanner p {
    color: #9c9c9c;
}


.theatrebanner2 .theatrebanner2private {
    display: flex;
    margin-bottom: 50px;
}

.theatrebanner2 .theatrebanner2private .theatrebanner2privatetheatre {
    padding: 20px;
    background-color: #5bc6e2;
}

.theatrebanner2 .theatrebanner2image img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.theatrebanner3 p {
    color: #9c9c9c;
}

.theatrebanner3 .cprc {
    background-color: #5bc6e2;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: #000;
    font-weight: bolder;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.theatrebanner3 .cprc2 {
    background-color: #c8c8c8;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: #000;
    font-weight: bolder;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.brandsbanner {
    padding: 50px 0px;
}

.brandsbanner .sec_title {
    margin-bottom: 35px;
    text-align: center;
}

.brandsbanner img {
    border: 1px solid #000;
}

.gallerybanner {
    padding: 50px 0px;
}

.gallerybanner .sec_title {
    margin-bottom: 35px;
    text-align: center;
}

.contatusbanner {
    padding: 50px 0px;
    background-image: radial-gradient(circle farthest-corner at 1.3% 2.8%, rgba(239, 249, 249, 1) 0%, rgba(182, 199, 226, 1) 100.2%);
}

.contatusbanner .sec_title {
    margin-bottom: 50px;
}















@media (max-width:767px) {

    .col-sm-text-center {
        text-align: center !important
    }

    .col-lg-d-block {
        display: none !important;

    }

    .col-sm-d-block {
        display: block !important;
    }

    .pm-2 {
        padding: 20px;
    }

    .top_content {
        display: none;
    }

    .navbar-brand {
        display: block !important;
        padding-bottom: 0px !important;
        background-color: #DDDDDD;
    }

    .navbar {
        margin-top: 0px;
        padding: 0px !important;
    }

    .carousel-indicators {
        display: none;
    }

    /* .carousel-control-prev,.carousel-control-next{
        display: block !important;
    } */



    /* COMPANY */
    .main_menu {
        display: unset;
        align-items: unset;
        justify-content: unset;
        padding: 0px;
    }

    .navbar-nav li:nth-child(-n + 5):after {
        display: none;
    }





    .container-fluid {
        padding-right: unset;
        padding-left: 0px !important;
    }

    .pe-0 {
        padding-right: unset !important;
    }

    .ps-0 {
        padding-left: unset !important;
    }

    .header .navbar-nav {
        background-color: #161616;
        padding: 10px;
    }

    .navbar-brand .logo1 {
        width: 280px;
    }

    .menutop {
        display: none !important;
    }


    .nav-brand {
        display: none !important;
    }

    .footer .footericons {
        display: unset;
        justify-content: unset;
    }

    .banner .bannertext {
        margin-top: 0px;
        padding: 25px 0;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #000;
    }

    /* default item styles  */
    .carousel-inner>.carousel-item {
        transform: scale(1);
        transition: none;
    }

    /* active item styles  */
    .carousel-inner>.carousel-item.active {
        opacity: 1;
        transform: none;
    }

    .banner .carousel-inner img {
        height: 60vh;
    }

    .banner {
        overflow: hidden;
        position: relative;
        margin-top: -140px;
        z-index: 1;
    }



    .banner .bannertext h2 {
        font-size: 25px;
    }

    .banner .bannertext h1 {
        color: #2caae2;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 35px;
    }

    .banner4 .banner4smart h1 {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #ffffff;
        font-weight: bold;
        font-size: 35px;
        opacity: 0.1;
        letter-spacing: 0px;
    }

    .banner5 .banner5design {
        height: auto;
    }

    .banner2 .banner2images {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner2 img {
        width: 48%;
        padding: 5px;
        text-align: center;
    }

    .banner4 .banner4smart h4 {
        margin-top: -25px;
        font-size: 25px;
    }

    .overlay {
        position: relative;
        color: #fff !important;
    }

    .banner4solution .overlay {
        opacity: 1;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        font-weight: bold;
    }

    .overlay span {
        font-size: 15px;
        font-weight: normal !important;
    }

    #ham {
        width: 40px;
    }

    .usefullinks ul {
        padding-left: 0px;
    }

    .navbar-toggler {
        border: none;
        margin-top: 43px;
    }

    .whobanner {
        overflow: hidden;
        position: relative;
        margin-top: -140px;
        z-index: -1;
    }

    .whobanner .bannerwhotext {
        margin-top: -100px;
        color: #fff;
    }

    .whoweare {
        padding: 20px;
    }

    .whobannerComfort {
        display: unset;
    }

    .whobannerComfort p {
        padding: 20px;
    }

    .whobanner3 .whobanner3mission {
        color: #fff;
        height: auto;
        padding: 20px 30px;
    }

    .whobanner3vision {
        background-color: #5bc6e2;
        height: auto;
        padding: 20px 30px;
    }

    .whobanner3 {
        padding: 0px;
    }

    .whobanner4 .whobanner4text {
        padding: 20px;
        color: #000;
        height: auto;
    }

    .eisbanner .eisbannertext {
        display: unset;
    }

    .eisbanner {
        padding: 20px;
    }

    .eisbanner h1 {
        text-align: center;
        padding: 20px;
    }

    .eisbanneriso {
        display: unset;
        align-items: unset;
        text-align: center;
    }

    .eisbanneriso img {
        width: 75%;
        padding: 20px;
    }

    .teambanner .teambannerteam {
        display: unset;
    }

    .teambanner .teambannerteam .teambannerteamside1 {
        width: unset;
    }

    .homedesignbanner2 {
        height: auto;
    }

    .homedesignbanner2 br {
        display: none;
    }

    .homedesignbanner3 {
        margin-top: 0px;
        padding: 30px 0px;
    }

    .homedesignbanner4 .homedesignbanner4simple {
        display: unset;
    }

    .homedesignbanner4 {
        background-image: url(../images/SmartHomeDesign/img6-1.png);
    }

    .homeautomationbanner2 {
        height: auto;
    }

    .homeautomationbanner2 br {
        display: none;
    }

    .homeautomationbanner3 {
        margin-top: auto;
    }

    .homeautomationbanner3 .homeautomationbanner2simplify {
        background-color: #5bc6e2;
        padding: 20px;
        height: auto;
    }

    .homeautomationbanner3 .homeautomationbanner2simplify2 {
        background-color: #95e4f9;
        padding: 20px;
        height: auto;
    }

    .smartlightbanner .sec_title {
        text-align: center;

    }

    .smartlightbanner .smartlightbannersmartlightfeeling {
        display: unset;
        align-items: unset;
        justify-content: unset;
    }

    .smartlightbanner p {
        width: auto;
        padding: 20px;
    }

    .smartlightbanner img {
        width: 100% !important;
    }



    .smartlightbanner2 .smartlightbanner2lighting {
        background-color: #e1e2e3;
        padding: 20px;
        display: unset;
        justify-content: unset;
        height: auto;
    }

    .smartlightbanner2 .smartlightbanner2lighting p {
        padding: 0px;
    }


    .smartlightbanner2 .smartlightbanner2control {
        height: auto;
    }

    .smartlightbanner2 img {
        width: 100%;
        height: unset;
        position: relative;
        z-index: 1;
    }

    .smartlightbanner3 {
        padding: 30px 0px;
    }

    .smartlightbanner4 .smartlightbanner4layers {
        background-color: #95e4f9;
        padding: 25px;
        margin-bottom: 10px;
    }

    .humanbanner2 .humanbanner2foundational br {
        display: none;
    }

    .humanbanner2 .humanbanner2foundational {
        padding: 20px;
        position: relative;
        z-index: 1;
        margin-top: 0px;
        width: unset;
        background-color: #fff;
    }

    .motorizedbanner ul li {
        padding-bottom: 10px;
    }

    .motorizedbanner img {
        width: 100%;
        padding-bottom: 10px;
    }

    .motorizedbanner2 br {
        display: none;
    }

    .multimediamediabanner .sec_title {
        margin-bottom: 0px;
    }

    .multimediamediabanner3 .multimediamediabanner3easy {
        background-color: #5bc6e2;
        padding: 20px;
        position: relative;
        z-index: unset;
    }

    .multimediamediabanner3 {
        padding: 20px 0px;
    }

    .multimediamediabanner3 img {
        margin-top: 0px;
        width: 100%;
    }


    .theatrebanner {
        padding: 30px 0px;
    }




    .theatrebanner2 .theatrebanner2private {
        display: unset;
        margin-bottom: 0px;
    }

    .theatrebanner2 .theatrebanner2private img {
        width: 100%;
    }

    .theatrebanner2 .theatrebanner2private .theatrebanner2privatetheatre {
        padding: 20px;
        background-color: #5bc6e2;
    }

    .theatrebanner2 .theatrebanner2image img {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .theatrebanner3 .cprc {
        width: 100%;
    }

    .theatrebanner3 .cprc2 {
        width: 100%;
    }

    .sec_title {
        margin-bottom: 25px;
    }






}














@media only screen and (min-width:1441px) and (max-width: 2000px) {
    p {
        font-size: 18px;
    }

    /* .banner {
        overflow: hidden;
        position: relative;
        margin-top: -130px;
        z-index: -1;
    } */

    .banner .bannertext {
        margin-top: -400px;
        position: relative;
        z-index: 1;
        color: #fff;
    }



    .banner3 {
        background-image: url(../images/img12.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        padding-top: 50px;
        height: 1000px;
    }

    .banner3 .banner3what {
        padding: 50px 20px;
        background-color: #000000;
        color: #fff;
        position: relative;
        bottom: -150px;
    }

    .whobanner3 .whobanner3mission {
        background-image: url(../images/whoweare/img2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        color: #fff;
        height: 350px;
        padding: 0px 150px;
    }

    .whobanner3vision {
        background-color: #5bc6e2;
        height: 350px;
        padding: 0px 150px;
        color: #000;
    }

    .smartlightbanner2 img {
        width: 750px;
        height: 400px;
    }

    .humanbanner2 .humanbanner2foundational {
        padding: 25px 25px 1px;
        position: relative;
        z-index: 1;
        margin-top: -200px;
        width: 600px;
        background-color: #fff;
    }



    .multimediamediabanner3 img {
        margin-top: 100px;
        width: 720px;
    }





}